body{
    background: linear-gradient(to top, pink, #9F9);
}
#header{
  width: auto;
  height: 200px;
  background:white;
}
div#header h3{
  text-align: center;
}

.fotos img{
	width:200px;
	height:auto;
}
.slider{
	max-width: 640px;	/* Tamaño (máximo) de ancho de las imágenes */
  	margin: auto;
}
.ba-slider {
  width: 640px;
  margin: auto;
  border: 5px solid #000;
}

/* Contenedor del acordeón */
[data-accordion] {
  border: 1px solid #888;
  margin: 2px;
  cursor: pointer;
}
[data-control] {
  background: #CCC;
  padding: 5px;  
}

/* Decoración */
.accordion [data-control]::before {
  content: '⊞ ';
  color: #888;
}
.accordion.open [data-control]::before {
  content: '⊟ ';
  color: #444;
}

/* Ventana modal */
#modal-card {
  border: 1px solid #888;
  margin: 2px auto;
  width: 400px;
  padding: 25px;
  box-shadow: 2px 2px 10px RGBA(0,0,0, .5);
  background: #FFF;
  text-align: center;
  display: none;
}
/* Fondo gris */
.modal-background {
  background: RGBA(0,0,0, .5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5;
}

/* Opción 3: Personalizar apariencia */
.cookie-message {
  width: 200px;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background: #111 url(http://i.emezeta.com/img/cookiem.png) 245px 45px no-repeat;
}
.cookie-message p { color: #FFF }
.cookie-message a { color: #2AF }

.selectize-control {
  font-family: 'Open Sans';
}

.selectize-input .item {
  background: linear-gradient(steelblue, blue)!important;
  border: 1px solid steelblue!important;
  color: white!important;
  border-radius: 5px;
}


/* CSS */
.chart {
  width: 600px;
  height: 400px;
}
/* CSS */
#chart .ct-series-c line,   // puntos
#chart .ct-series-c path {  // línea
  stroke: #0F0;
}
