body{
    background: linear-gradient(to top, pink, #9F9);
}
#header{
  width: auto;
  height: 200px;
  background:white;
}
div#header h3{
  text-align: center;
}

.fotos img{
	width:200px;
	height:auto;
}
.slider{
	max-width: 640px;	/* Tamaño (máximo) de ancho de las imágenes */
  	margin: auto;
}
.ba-slider {
  width: 640px;
  margin: auto;
  border: 5px solid #000;
}

/* Contenedor del acordeón */
[data-accordion] {
  border: 1px solid #888;
  margin: 2px;
  cursor: pointer;
}
[data-control] {
  background: #CCC;
  padding: 5px;  
}

/* Decoración */
.accordion [data-control]::before {
  content: '⊞ ';
  color: #888;
}
.accordion.open [data-control]::before {
  content: '⊟ ';
  color: #444;
}
